<div class="container">
<div class="row mm mt-4">
    <div class="d-flex justify-content-between">
        <h2 class="card-title employee_info_title">Visa Details</h2>
        <button class="close-btn" (click)="Close(false)">
          <i style="font-size: 12px" class="fa">&#xf00d;</i>
        </button>
      </div>
    
    <div class="col-lg-12">
        <mat-label>Country Code</mat-label>
      <mat-form-field appearance="outline" color="primary">
       
        <mat-select formControlName="marital_status" placeholder="Select">
          <mat-option value="one">Intern</mat-option>
          <mat-option value="two">Trainee</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
</div>

<div class="row mm mt-4">

    <div class="col-lg-12">
      <mat-label>Visa Number</mat-label>
      <mat-form-field appearance="outline" color="primary">
        <input
          matInput
          formControlName="cpr_number"
          placeholder="CPR Number"
        />
      </mat-form-field>
    </div>
</div>

<div class="row mm mt-4">

    <div class="col-lg-12">
        <mat-label>Date Of Issue</mat-label>
        <mat-form-field appearance="outline" class="">
            <input
              matInput
              formControlName="dateOfIssue"
              [matDatepicker]="picker"
              placeholder="Date Of Issue"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
    </div>
</div>

<div class="row mm mt-4">
    <div class="col-lg-12">
        <mat-label>Visa File</mat-label>
        <!--</mat-form-field> -->
        <div class="passport-file-upload">  
            <input #passportfileInput type="file" name="passportfileInput" accept="image/png, image/jpeg"
            >
        </div>
    </div>
</div>

  <div class="form-footer">
    <button  class="btn btn-primary px-4 float-right profile-save-btn"  (click)="onSubmit()">
      Save
    </button>

  </div>
</div>
<!--<button (click)="nextStep()">click here</button>-->
