<form [formGroup]="employeeTypeForm">
  <div class="page-title">
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="container">
            <div class="card-title">EMPLOYEE TYPE</div>
            <div>
              <button class="btn btn-warrning go-back" (click)="goBack()">
                Back
              </button>
            </div>
          </div>
          <div class="row mm">
            <div class="col-lg-6">
              <mat-label class="dd">Employee Type Id </mat-label>
              <div class="">
                <mat-form-field appearance="outline" color="primary">
                  <input
                    matInput
                    placeholder="PER"
                    formControlName="employeeTypeId"
                    [disabled]="isDisabled"
                  />
                  <div
                    *ngIf="
                      employeeTypeForm.controls['employeeTypeId']?.invalid &&
                      employeeTypeForm.controls['employeeTypeId']?.touched &&
                      employeeTypeForm.controls['employeeTypeId']?.errors
                    "
                  >
                    <span
                      class="validate-text"
                      *ngIf="employeeTypeForm.controls['employeeTypeId']?.errors?.['required']"
                      >Please Enter Employee Type Id</span
                    >
                    <span
                      class="validate-text"
                      *ngIf="employeeTypeForm.controls['employeeTypeId'].errors?.['pattern']"
                      >Please Enter Valid Employee Type id</span
                    >
                    <span
                      class="validate-text"
                      *ngIf="employeeTypeForm.controls['employeeTypeId']?.errors?.['leadingSpace'] && !employeeTypeForm.controls['employeeTypeId'].errors?.['pattern'] && !employeeTypeForm.controls['employeeTypeId']?.errors?.['trailingSpace']"
                      >Leading space not allowed.</span
                    >
                    <span
                      class="validate-text"
                      *ngIf="employeeTypeForm.controls['employeeTypeId']?.errors?.['whitespace'] && !employeeTypeForm.controls['employeeTypeId']?.errors?.['leadingSpace'] && !employeeTypeForm.controls['employeeTypeId']?.errors?.['trailingSpace'] "
                      >No whitespaces are allowed.</span
                    >
                    <span
                      class="validate-text"
                      *ngIf="employeeTypeForm.controls['employeeTypeId']?.errors?.['trailingSpace'] && !employeeTypeForm.controls['employeeTypeId'].errors?.['pattern'] && !employeeTypeForm.controls['employeeTypeId']?.errors?.['leadingSpace']"
                      >Trailing space not allowed.</span
                    >
                    <span
                      class="validate-text"
                      *ngIf="employeeTypeForm.controls['employeeTypeId']?.errors?.['trailingSpace'] && !employeeTypeForm.controls['employeeTypeId'].errors?.['pattern'] && employeeTypeForm.controls['employeeTypeId']?.errors?.['leadingSpace']"
                      >Trailing, Leading spaces not allowed.</span
                    >
                    <span
                      class="validate-text"
                      *ngIf="employeeTypeForm.controls['employeeTypeId']?.errors?.['idMaxLength'] && !employeeTypeForm.controls['employeeTypeId'].errors?.['pattern'] && !employeeTypeForm.controls['employeeTypeId']?.errors?.['leadingSpace']"
                      >Maximum 50 characters are allowed.</span
                    >
                  </div>
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-6">
              <mat-label class="dd">Type</mat-label>
              <div class="">
                <mat-form-field appearance="outline" color="primary">
                  <input
                    matInput
                    placeholder="Permanant"
                    formControlName="type"
                  />
                  <div
                    *ngIf="
                      employeeTypeForm.controls['type']?.invalid &&
                      employeeTypeForm.controls['type']?.touched &&
                      employeeTypeForm.controls['type']?.errors
                    "
                  >
                    <span
                      class="validate-text"
                      *ngIf="employeeTypeForm.controls['type']?.errors?.['required']"
                      >Please enter Employee Type</span
                    >

                    <span
                      class="validate-text"
                      *ngIf="employeeTypeForm.controls['type'].errors?.['pattern']"
                      >Please Enter Valid Employee Type
                    </span>

                    <span
                      class="validate-text"
                      *ngIf="employeeTypeForm.controls['type']?.errors?.['leadingSpace'] && !employeeTypeForm.controls['type'].errors?.['pattern'] && !employeeTypeForm.controls['type']?.errors?.['trailingSpace']"
                      >Leading space not allowed.</span
                    >

                    <span
                      class="validate-text"
                      *ngIf="employeeTypeForm.controls['type']?.errors?.['whitespace']"
                      >Field can not be empty.</span
                    >

                    <span
                      class="validate-text"
                      *ngIf="employeeTypeForm.controls['type']?.errors?.['trailingSpace'] && !employeeTypeForm.controls['type'].errors?.['pattern'] && !employeeTypeForm.controls['type']?.errors?.['leadingSpace']"
                      >Trailing space not allowed.</span
                    >

                    <span
                      class="validate-text"
                      *ngIf="employeeTypeForm.controls['type']?.errors?.['trailingSpace'] && !employeeTypeForm.controls['type'].errors?.['pattern'] && employeeTypeForm.controls['type']?.errors?.['leadingSpace']"
                      >Trailing, Leading spaces not allowed.</span
                    >

                    <span
                      class="validate-text"
                      *ngIf="employeeTypeForm.controls['type']?.errors?.['nameMaxLength'] && !employeeTypeForm.controls['type'].errors?.['pattern'] && !employeeTypeForm.controls['type']?.errors?.['leadingSpace']"
                      >Maximum 100 characters are allowed.</span
                    >
                  </div>
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-6">
              <mat-label class="dd">Organization Code</mat-label>
              <div class="">
                <mat-form-field appearance="outline" color="primary">
                  <input
                    matInput
                    placeholder="AVISYS"
                    class=""
                    formControlName="orgCode"
                  />
                  <div
                    *ngIf="
                      employeeTypeForm.controls['orgCode']?.invalid &&
                      employeeTypeForm.controls['orgCode']?.touched &&
                      employeeTypeForm.controls['orgCode']?.errors
                    "
                  >
                    <span
                      class="validate-text"
                      *ngIf="employeeTypeForm.controls['orgCode']?.errors?.['required']"
                      >Please enter Organization Code</span
                    >

                    <span
                      class="validate-text"
                      *ngIf="employeeTypeForm.controls['orgCode']?.errors?.['leadingSpace'] && !employeeTypeForm.controls['orgCode'].errors?.['pattern'] && !employeeTypeForm.controls['orgCode']?.errors?.['trailingSpace']"
                      >Leading space not allowed.</span
                    >

                    <span
                      class="validate-text"
                      *ngIf="employeeTypeForm.controls['orgCode']?.errors?.['whitespace'] && !employeeTypeForm.controls['orgCode']?.errors?.['leadingSpace'] && !employeeTypeForm.controls['orgCode']?.errors?.['trailingSpace'] "
                      >No whitespaces are allowed.</span
                    >

                    <span
                      class="validate-text"
                      *ngIf="employeeTypeForm.controls['orgCode']?.errors?.['trailingSpace'] && !employeeTypeForm.controls['orgCode'].errors?.['pattern'] && !employeeTypeForm.controls['orgCode']?.errors?.['leadingSpace']"
                      >Trailing space not allowed.</span
                    >

                    <span
                      class="validate-text"
                      *ngIf="employeeTypeForm.controls['orgCode']?.errors?.['trailingSpace'] && !employeeTypeForm.controls['orgCode'].errors?.['pattern'] && employeeTypeForm.controls['orgCode']?.errors?.['leadingSpace']"
                      >Trailing, Leading spaces not allowed.</span
                    >

                    <span
                      class="validate-text"
                      *ngIf="employeeTypeForm.controls['orgCode'].errors?.['pattern']"
                      >Please Enter Valid Org-Code
                    </span>
                  </div>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div _ngcontent-ng-c812429062="" class="form-footer">
            <button
              _ngcontent-ng-c812429062=""
              class="profile-save-btn"
              (click)="onSubmit()"
              [disabled]="!employeeTypeForm.valid"
            >
              {{ actionLabel }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
