<form [formGroup]="workExperienceForm">
  <div class="container" style="width: 565px; height: 480px">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-between">
            <h2 class="title" mat-dialog-title>Work Experience</h2>

            <button class="close-btn" (click)="closeDialog(false)">
              <i style="font-size: 12px" class="fa">&#xf00d;</i>
            </button>
          </div>

          <div class="line"></div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row row-section">
        <div class="col-md-4 mt-2">
          <mat-label>Company Name<span style="color: red">*</span></mat-label>
        </div>

        <div class="col-md-8">
          <mat-form-field appearance="outline" color="primary">
            <div class="form-controls">
              <input matInput formControlName="companyName" />
            </div>
            <mat-error *ngIf="isControlInvalid('companyName')" class="validate-text">
              {{ getErrorMessage("companyName") }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row row-section">
        <div class="col-md-4 mt-2">
          <mat-label>Designation<span style="color: red">*</span></mat-label>
        </div>

        <div class="col-md-8">
          <mat-form-field appearance="outline" color="primary">
            <div class="form-controls">
              <input matInput formControlName="designation" />
            </div>
            <mat-error *ngIf="isControlInvalid('designation')" class="validate-text">
              {{ getErrorMessage("designation") }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row row-section">
        <div class="col-md-4 mt-2">
          <mat-label>From Date<span style="color: red">*</span></mat-label>
        </div>

        <div class="col-md-8">
          <mat-form-field appearance="outline" class="">
            <input matInput formControlName="fromDate" [matDatepicker]="fromDatePicker" placeholder="DD/MM/YYYY"
              readonly />

            <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>

            <mat-datepicker #fromDatePicker></mat-datepicker>
            <mat-error *ngIf="isControlInvalid('fromDate')" class="validate-text">
              {{ getErrorMessage("fromDate") }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row row-section">
        <div class="col-md-4 mt-2">
          <mat-label>To Date<span style="color: red">*</span></mat-label>
        </div>
        <div class="col-md-8">
          <mat-form-field appearance="outline" class="">
            <input matInput formControlName="toDate" [matDatepicker]="toDatePicker" placeholder="DD/MM/YYYY" readonly />
            <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
            <mat-error *ngIf="isControlInvalid('toDate')" class="validate-text">
              {{ getErrorMessage("toDate") }}
            </mat-error>
            <mat-datepicker #toDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row row-section">
        <div class="col-md-4 mt-2">
          <mat-label>Address<span style="color: red">*</span></mat-label>
        </div>

        <div class="col-md-8">
          <mat-form-field appearance="outline" color="primary" class="addressData">
            <div class="form-controls" class="addressData">
              <!-- <input matInput placeholder="" formControlName="address" /> -->

              <textarea rows="3" matInput placeholder="Address" formControlName="address">
              </textarea>
            </div>
            <mat-error *ngIf="isControlInvalid('address')" class="validate-text">
              {{ getErrorMessage("address") }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div _ngcontent-ng-c812429062="" class="form-footer">
      <mat-dialog-actions>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="d-flex justify-content-end save-reset-button-container">
                <button _ngcontent-ng-c812429062="" class="save-btn" (click)="onSubmit()"
                  [disabled]="!workExperienceForm.valid">
                  {{ actionLabel }}
                </button>

                <button _ngcontent-ng-c812429062="" class="profile-save-btn dark" (click)="resetForm()">
                  Reset
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-dialog-actions>
    </div>
  </div>
</form>