<form [formGroup]="workExperienceForm">
  <div class="container" style="width: 490px; height: 430px">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-between">
            <h2 class="title" mat-dialog-title>Work Experince</h2>

            <button class="close-btn" (click)="closeDialog(false)">
              <i style="font-size: 12px" class="fa">&#xf00d;</i>
            </button>
          </div>

          <div class="line"></div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row row-section">
        <div class="col-md-4 mt-2">
          <mat-label>Company Name</mat-label>
        </div>

        <div class="col-md-8">
          <mat-form-field appearance="outline" color="primary">
            <div class="form-controls">
              <input matInput placeholder="" formControlName="companyName" />
            </div>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row row-section">
        <div class="col-md-4 mt-2">
          <mat-label>Designation</mat-label>
        </div>

        <div class="col-md-8">
          <mat-form-field appearance="outline" color="primary">
            <div class="form-controls">
              <input matInput placeholder="" formControlName="designation" />
            </div>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row row-section">
        <div class="col-md-4 mt-2">
          <mat-label>From Date</mat-label>
        </div>

        <div class="col-md-8">
          <mat-form-field appearance="outline" class="">
            <input
              matInput
              formControlName="fromDate"
              [matDatepicker]="fromDatePicker"
              placeholder="Choose a date"
            />

            <mat-datepicker-toggle
              matSuffix
              [for]="fromDatePicker"
            ></mat-datepicker-toggle>

            <mat-datepicker #fromDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row row-section">
        <div class="col-md-4 mt-2">
          <mat-label>To Date</mat-label>
        </div>

        <div class="col-md-8">
          <mat-form-field appearance="outline" class="">
            <input
              matInput
              formControlName="toDate"
              [matDatepicker]="toDatePicker"
              placeholder="Choose a date"
            />

            <mat-datepicker-toggle
              matSuffix
              [for]="toDatePicker"
            ></mat-datepicker-toggle>

            <mat-datepicker #toDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row row-section">
        <div class="col-md-4 mt-2">
          <mat-label>Address</mat-label>
        </div>

        <div class="col-md-8">
          <mat-form-field appearance="outline" color="primary">
            <div class="form-controls">
              <input matInput placeholder="" formControlName="address" />
            </div>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div _ngcontent-ng-c812429062="" class="form-footer">
      <mat-dialog-actions>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="d-flex justify-content-end">
                <button
                  _ngcontent-ng-c812429062=""
                  class="save-btn"
                  (click)="onSubmit()"
                  [disabled]="!workExperienceForm.valid"
                >
                  {{ actionLabel }}
                </button>

                <button
                  _ngcontent-ng-c812429062=""
                  class="profile-save-btn dark"
                  (click)="resetForm()"
                >
                  Reset
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-dialog-actions>
    </div>
  </div>
</form>
