<form [formGroup]="departmentForm">
  <div class="container" style="width: 490px; height: 420px">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-between">
            <h2 class="title" mat-dialog-title>Department</h2>
            <button class="close-btn" (click)="Close(false)">
              <i style="font-size: 12px" class="fa">&#xf00d;</i>
            </button>
          </div>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row row-section">
        <div class="col-md-4 mt-2">
          <mat-label>Department ID<span style="color: red">*</span> </mat-label>
        </div>
        <div class="col-md-8">
          <mat-form-field appearance="outline" color="primary">
            <div class="form-controls">
              <input
                matInput
                placeholder="FIN"
                formControlName="departmentId"
                [disabled]="isDisabled"
              />
              <div
                *ngIf="
                  departmentForm.controls['departmentId']?.invalid &&
                  departmentForm.controls['departmentId']?.touched &&
                  departmentForm.controls['departmentId']?.errors
                "
              >
                <span
                  class="validate-text"
                  *ngIf="departmentForm.controls['departmentId']?.errors?.['required']"
                  >Please enter Department ID
                </span>
                <span
                  class="validate-text"
                  *ngIf="departmentForm.controls['departmentId'].errors?.['pattern']"
                  >Please enter valid Department ID</span
                >
                <span
                  class="validate-text"
                  *ngIf="departmentForm.controls['departmentId']?.errors?.['leadingSpace'] && !departmentForm.controls['departmentId'].errors?.['pattern'] && !departmentForm.controls['departmentId']?.errors?.['trailingSpace']"
                  >Leading space not allowed</span
                >
                <span
                  class="validate-text"
                  *ngIf="departmentForm.controls['departmentId']?.errors?.['whitespace'] && !departmentForm.controls['departmentId']?.errors?.['leadingSpace'] && !departmentForm.controls['departmentId']?.errors?.['trailingSpace']  && !departmentForm.controls['departmentId'].errors?.['pattern']"
                  >No whitespace allowed</span
                >
                <span
                  class="validate-text"
                  *ngIf="departmentForm.controls['departmentId']?.errors?.['trailingSpace'] && !departmentForm.controls['departmentId'].errors?.['pattern'] && !departmentForm.controls['departmentId']?.errors?.['leadingSpace']"
                  >Trailing space not allowed</span
                >
                <span
                  class="validate-text"
                  *ngIf="departmentForm.controls['departmentId']?.errors?.['trailingSpace'] && !departmentForm.controls['departmentId'].errors?.['pattern'] && departmentForm.controls['departmentId']?.errors?.['leadingSpace']"
                  >Trailing, Leading spaces not allowed</span
                >

                <span
                  class="validate-text"
                  *ngIf="departmentForm.controls['departmentId']?.errors?.['idMaxLength'] && !departmentForm.controls['departmentId'].errors?.['pattern'] && !departmentForm.controls['departmentId']?.errors?.['leadingSpace']"
                  >Maximum 50 characters are allowed</span
                >
              </div>
            </div>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row row-section">
        <div class="col-md-4 mt-2">
          <mat-label
            >Department Name<span style="color: red">*</span></mat-label
          >
        </div>
        <div class="col-md-8">
          <mat-form-field appearance="outline" color="primary">
            <div class="form-controls">
              <input
                matInput
                placeholder="Finance"
                formControlName="departmentName"
              />
              <div
                *ngIf="
                  departmentForm.controls['departmentName']?.invalid &&
                  departmentForm.controls['departmentName']?.touched &&
                  departmentForm.controls['departmentName']?.errors
                "
              >
                <span
                  class="validate-text"
                  *ngIf="departmentForm.controls['departmentName']?.errors?.['required']"
                  >Please enter Department Name
                </span>
                <span
                  class="validate-text"
                  *ngIf="departmentForm.controls['departmentName'].errors?.['pattern']"
                  >Please enter valid Department Name</span
                >

                <span
                  class="validate-text"
                  *ngIf="departmentForm.controls['departmentName']?.errors?.['blank']"
                  >No whitespaces are allowed</span
                >

                <span
                  class="validate-text"
                  *ngIf="departmentForm.controls['departmentName']?.errors?.['leadingSpace'] && !departmentForm.controls['departmentName'].errors?.['pattern'] && !departmentForm.controls['departmentName']?.errors?.['trailingSpace']"
                  >Leading space not allowed</span
                >
                <span
                  class="validate-text"
                  *ngIf="departmentForm.controls['departmentName']?.errors?.['whitespace']"
                  >Field can not be empty</span
                >
                <span
                  class="validate-text"
                  *ngIf="departmentForm.controls['departmentName']?.errors?.['trailingSpace'] && !departmentForm.controls['departmentName'].errors?.['pattern'] && !departmentForm.controls['departmentName']?.errors?.['leadingSpace']"
                  >Trailing space not allowed</span
                >
                <span
                  class="validate-text"
                  *ngIf="departmentForm.controls['departmentName']?.errors?.['trailingSpace'] && !departmentForm.controls['departmentName'].errors?.['pattern'] && departmentForm.controls['departmentName']?.errors?.['leadingSpace']"
                  >Trailing, Leading spaces not allowed</span
                >

                <span
                  class="validate-text"
                  *ngIf="departmentForm.controls['departmentName']?.errors?.['nameMaxLength'] && !departmentForm.controls['departmentName'].errors?.['pattern'] && !departmentForm.controls['departmentName']?.errors?.['leadingSpace']"
                  >Maximum 100 characters are allowed</span
                >
              </div>
            </div>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row row-section">
        <div class="col-md-4 field-one">
          <mat-label class="desc-label"
            >Department Description<span style="color: red">*</span></mat-label
          >
        </div>
        <div class="col-md-8">
          <mat-form-field class="textarea-outline" appearance="outline">
            <div class="form-controls">
              <!-- <input
                matInput
                placeholder="Finance Department"  
                formControlName="departmentDescription"
              /> -->
              <textarea
                matInput
                placeholder="Finance Department"
                formControlName="departmentDescription"
              >
              </textarea>
              <div
                *ngIf="
                  departmentForm.controls['departmentDescription']?.invalid &&
                  departmentForm.controls['departmentDescription']?.touched &&
                  departmentForm.controls['departmentDescription']?.errors
                "
              >
                <span
                  class="validate-text-description"
                  *ngIf="departmentForm.controls['departmentDescription']?.errors?.['required']"
                  >Please enter Department Description
                </span>
                <span
                  class="validate-text-description"
                  *ngIf="departmentForm.controls['departmentDescription'].errors?.['pattern']"
                  >Please enter valid Department Description</span
                >
                <span
                  class="validate-text-description"
                  *ngIf="departmentForm.controls['departmentDescription']?.errors?.['leadingSpace'] && !departmentForm.controls['departmentDescription'].errors?.['pattern'] && !departmentForm.controls['departmentDescription']?.errors?.['trailingSpace']"
                  >Leading space not allowed</span
                >
                <span
                  class="validate-text-description"
                  *ngIf="departmentForm.controls['departmentDescription']?.errors?.['whitespace']"
                  >Field can not be empty</span
                >
                <span
                  class="validate-text-description"
                  *ngIf="departmentForm.controls['departmentDescription']?.errors?.['blank']"
                  >No whitespaces are allowed</span
                >

                <span
                  class="validate-text-description"
                  *ngIf="departmentForm.controls['departmentDescription']?.errors?.['trailingSpace'] && !departmentForm.controls['departmentDescription'].errors?.['pattern'] && !departmentForm.controls['departmentDescription']?.errors?.['leadingSpace']"
                  >Trailing space not allowed</span
                >
                <span
                  class="validate-text-description"
                  *ngIf="departmentForm.controls['departmentDescription']?.errors?.['trailingSpace'] && !departmentForm.controls['departmentDescription'].errors?.['pattern'] && departmentForm.controls['departmentDescription']?.errors?.['leadingSpace']"
                  >Trailing, Leading spaces not allowed</span
                >

                <span
                  class="validate-text-description"
                  *ngIf="departmentForm.controls['departmentDescription']?.errors?.['descMaxLength'] && !departmentForm.controls['departmentDescription'].errors?.['pattern'] && !departmentForm.controls['departmentDescription']?.errors?.['leadingSpace']"
                  >Maximum 250 characters are allowed</span
                >
              </div>
            </div>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row row-section">
        <div class="col-md-4 mt-2">
          <mat-label>Organization Code</mat-label>
        </div>
        <div class="col-md-8">
          <mat-form-field appearance="outline" color="primary">
            <div class="form-controls">
              <input matInput placeholder="AVI-BHR" formControlName="orgCode" />
              <div
                *ngIf="
                  departmentForm.controls['orgCode']?.invalid &&
                  departmentForm.controls['orgCode']?.touched &&
                  departmentForm.controls['orgCode']?.errors
                "
              >
                <span
                  class="validate-text"
                  *ngIf="departmentForm.controls['orgCode']?.errors?.['required']"
                  >Please enter Organization Code</span
                >

                <span
                  class="validate-text"
                  *ngIf="departmentForm.controls['orgCode']?.errors?.['whitespace'] && !departmentForm.controls['orgCode']?.errors?.['leadingSpace'] && !departmentForm.controls['orgCode']?.errors?.['trailingSpace'] && !departmentForm.controls['orgCode']?.errors?.['pattern'] "
                  >No whitespaces are allowed</span
                >

                <span
                  class="validate-text"
                  *ngIf="departmentForm.controls['orgCode']?.errors?.['leadingSpace'] && !departmentForm.controls['orgCode'].errors?.['pattern'] && !departmentForm.controls['orgCode']?.errors?.['trailingSpace']"
                  >Leading space not allowed</span
                >

                <span
                  class="validate-text"
                  *ngIf="departmentForm.controls['orgCode']?.errors?.['trailingSpace'] && !departmentForm.controls['orgCode'].errors?.['pattern'] && !departmentForm.controls['orgCode']?.errors?.['leadingSpace']"
                  >Trailing space not allowed</span
                >

                <span
                  class="validate-text"
                  *ngIf="departmentForm.controls['orgCode']?.errors?.['trailingSpace'] && !departmentForm.controls['orgCode'].errors?.['pattern'] && departmentForm.controls['orgCode']?.errors?.['leadingSpace']"
                  >Trailing, Leading spaces not allowed</span
                >

                <span
                  class="validate-text"
                  *ngIf="departmentForm.controls['orgCode'].errors?.['pattern']"
                  >Please enter valid Organization Code
                </span>

                <span
                  class="validate-text"
                  *ngIf="departmentForm.controls['orgCode']?.errors?.['idMaxLength'] && !departmentForm.controls['orgCode'].errors?.['pattern'] && !departmentForm.controls['orgCode']?.errors?.['leadingSpace']"
                  >Maximum 50 characters are allowed</span
                >
              </div>
            </div>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div _ngcontent-ng-c812429062="" class="form-footer">
      <mat-dialog-actions>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="d-flex justify-content-end">
                <button
                  _ngcontent-ng-c812429062=""
                  class="save-btn"
                  (click)="onSubmit()"
                  [disabled]="!departmentForm.valid"
                >
                  {{ actionLabel }}
                </button>
                <button
                  _ngcontent-ng-c812429062=""
                  class="profile-save-btn dark"
                  (click)="resetForm()"
                >
                  Reset
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-dialog-actions>
    </div>
  </div>
</form>
