<div class="formHeader">
  <h2> Employee Info</h2>
</div>

<form [formGroup]="employeeForm">

  <div class="scroll-container">
    <!-- !! Employee Info !!-->
    <div class="row mb-2 mt-4">
      <div class="col-lg-4">
        <div class="profile-title">
          <div class="profile-section">
            <div id="avatar-container">
              <img id="avatar-photo" #avatarImg class="avatar-photo"
                [src]="url && url !== '' ? url : 'assets/profile-img.png'" (mouseenter)="showAddPhotoOverlay = true"
                alt="avatar photo" />

              <div *ngIf="showAddPhotoOverlay" id="add-photo-overlay" class="avatar-photo"
                (mouseleave)="showAddPhotoOverlay = false">
                <button id="add-avatar-photo-button" class="center-positon-absolute" mat-icon-button
                  (click)="openFileInput(fileInput)">
                  <mat-icon>add_a_photo</mat-icon>
                </button>

                <mat-icon id="remove-avatar-photo-button" *ngIf="url && url !== ''" (click)="removePhoto()"
                  matTooltip="remove this photo">close</mat-icon>
              </div>

              <!-- Input file -->

              <input #fileInput type="file" (change)="uploadImage($event)" name="avatar" accept="image/png, image/jpeg"
                style="display: none" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <mat-label style="font-weight: 550;">Employee Code<span style="color: red">*</span></mat-label>

        <mat-form-field appearance="outline">
          <input matInput formControlName="employeeCode" oninput="this.value = this.value.toUpperCase()" />

          <mat-error *ngIf="isControlInvalid('employeeCode')">
            <span class="validate-text">{{
              getErrorMessage("employeeCode")
              }}</span>
          </mat-error>
        </mat-form-field>

        <mat-label><b>Middle Name</b><span style="color: red">*</span></mat-label>

        <mat-form-field appearance="outline">
          <input matInput formControlName="middleName" />

          <mat-error *ngIf="isControlInvalid('middleName')">
            <span class="validate-text">{{
              getErrorMessage("middleName")
              }}</span>
          </mat-error>

          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
        </mat-form-field>

        <mat-label>Birth Date<span style="color: red">*</span></mat-label>
        <mat-form-field appearance="outline" class="">
          <input matInput formControlName="dateOfBirth" [matDatepicker]="birthDatePicker" placeholder="DD/MM/YYYY"
            readonly />
          <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #birthDatePicker></mat-datepicker>
          <mat-error *ngIf="isControlInvalid('dateOfBirth')">
            {{ getErrorMessage("dateOfBirth") }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-3">
            <mat-label>Title<span style="color: red">*</span></mat-label>

            <mat-form-field appearance="outline" color="primary">
              <mat-select formControlName="title" placeholder="Select">
                <mat-option>Select</mat-option>

                <mat-option *ngFor="let title of titles" [value]="title.code">{{
                  title.value
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-lg-9">
            <mat-label>First Name<span style="color: red">*</span></mat-label>

            <mat-form-field appearance="outline">
              <input matInput formControlName="firstName" />

              <mat-error *ngIf="isControlInvalid('firstName')">
                <span class="validate-text">{{
                  getErrorMessage("firstName")
                  }}</span>
              </mat-error>

              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> oninput=this.value = this.value.Capitalize-->
            </mat-form-field>
          </div>
        </div>

        <mat-label>Last Name<span style="color: red">*</span></mat-label>

        <mat-form-field appearance="outline">
          <input matInput formControlName="lastName" />

          <mat-error *ngIf="isControlInvalid('lastName')">
            <span class="validate-text">{{ getErrorMessage("lastName") }}</span>
          </mat-error>

          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
        </mat-form-field>

        <mat-label>Age<span style="color: red">*</span></mat-label>

        <mat-form-field appearance="outline">
          <input matInput formControlName="age" readonly />

          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
        </mat-form-field>
      </div>
    </div>

    <div class="row mm">
      <div class="col-lg-4">
        <mat-label>Email<span style="color: red">*</span></mat-label>

        <mat-form-field appearance="outline" color="primary">
          <input type="email" matInput formControlName="email" />

          <mat-error *ngIf="isControlInvalid('email')">
            <span class="validate-text">{{ getErrorMessage("email") }}</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-4">
        <mat-label>Mobile Number<span style="color: red">*</span></mat-label>

        <mat-form-field appearance="outline" class="">
          <input matInput formControlName="mobile" />

          <mat-error *ngIf="isControlInvalid('mobile')">
            <span class="validate-text">{{ getErrorMessage("mobile") }}</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-4">
        <mat-label>Phone</mat-label>

        <mat-form-field appearance="outline" color="primary">
          <input matInput formControlName="phone" />

          <mat-error *ngIf="isControlInvalid('phone')">
            <span class="validate-text">{{ getErrorMessage("phone") }}</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mm">
      <div class="col-lg-4">
        <mat-label>Gender<span style="color: red">*</span></mat-label>

        <mat-form-field appearance="outline" color="primary">
          <mat-select formControlName="gender" placeholder="Select">
            <mat-option>Select</mat-option>

            <mat-option *ngFor="let gender of genders" [value]="gender.code">{{
              gender.value
              }}</mat-option>
          </mat-select>

          <mat-error *ngIf="isControlInvalid('gender')">
            {{ getErrorMessage("gender") }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-4">
        <mat-label>Date Of Joining<span style="color: red">*</span></mat-label>

        <mat-form-field appearance="outline" class="">
          <input matInput formControlName="dateOfJoining" [matDatepicker]="picker1" placeholder="DD/MM/YYYY" readonly />

          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>

          <mat-datepicker #picker1></mat-datepicker>

          <mat-error *ngIf="isControlInvalid('dateOfJoining')">
            {{ getErrorMessage("dateOfJoining") }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-4" formGroupName="division">
        <mat-label>Division<span style="color: red">*</span></mat-label>

        <mat-form-field appearance="outline" color="primary">
          <mat-select formControlName="id" placeholder="Select">
            <mat-option>Select</mat-option>

            <mat-option *ngFor="let division of divisions" [value]="division.id">
              {{ division.divisionName }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="isControlInvalid('id')">
            {{ getErrorMessage("id") }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mm">
      <div class="col-lg-4">
        <mat-label>Status<span style="color: red">*</span></mat-label>

        <mat-form-field appearance="outline" color="primary">
          <mat-select formControlName="status" placeholder="Select">
            <mat-option>Select</mat-option>

            <mat-option *ngFor="let status of status" [value]="status.code">{{
              status.value
              }}</mat-option>
          </mat-select>

          <mat-error *ngIf="isControlInvalid('status')">
            {{ getErrorMessage("status") }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="row mm">
      <div class="col-lg-4">
        <mat-label>User Id</mat-label>

        <mat-form-field appearance="outline">
          <input matInput formControlName="userId" />
        </mat-form-field>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="form-footer">
      <button _ngcontent-ng-c812429062="" class="btn btn-primary px-4 float-right profile-save-btn" (click)="onSubmit()"
        [disabled]="!employeeForm.valid">
        {{ actionLabel }}
      </button>
    </div>
  </div>
</form>