<div class="row mm">
  <div class="col-lg-4">
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Designation</mat-label>
      <mat-select formControlName="designation" placeholder="Select">
        <mat-option value="one">Intern</mat-option>
        <mat-option value="two">Trainee</mat-option>
      </mat-select>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>
  <div class="col-lg-4">
    <mat-form-field appearance="outline">
      <mat-label>Employee code</mat-label>
      <input
        matInput
        formControlName="employeeCode"
        placeholder="Placeholder"
      />
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>
  <div class="col-lg-4">
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Grade</mat-label>
      <mat-select formControlName="grade" placeholder="Select">
        <mat-option value="one">Technical Grade 0</mat-option>
        <mat-option value="two">Technical Grade 1</mat-option>
      </mat-select>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>
</div>
<div class="row mm">
  <div class="col-lg-4">
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Reviewer Manager</mat-label>
      <mat-select formControlName="reviewerManager" placeholder="Select">
        <mat-option value="one">Yogesh Somvanshi</mat-option>
        <mat-option value="two">Yogesh Somvanshi</mat-option>
      </mat-select>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>
  <div class="col-lg-4">
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Reporting Manager</mat-label>
      <mat-select formControlName="reportingManager" placeholder="Select">
        <mat-option value="one">Yogesh Somvanshi</mat-option>
        <mat-option value="two">Yogesh Somvanshi</mat-option>
      </mat-select>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>
  <div class="col-lg-4">
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Department</mat-label>
      <mat-select formControlName="department" placeholder="Select">
        <mat-option value="one">Product Developement</mat-option>
        <mat-option value="two">CRM Developement</mat-option>
      </mat-select>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>
</div>
<div class="row mm">
  <div class="col-lg-4">
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Reviewer Manager</mat-label>
      <mat-select formControlName="reviewerManager" placeholder="Select">
        <mat-option value="one">Yogesh Somvanshi</mat-option>
        <mat-option value="two">Yogesh Somvanshi</mat-option>
      </mat-select>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>
  <div class="col-lg-4">
    <mat-form-field appearance="outline">
      <mat-label>Employee code</mat-label>
      <input
        matInput
        formControlName="employeeCode"
        placeholder="Placeholder"
      />
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>
  <div class="col-lg-4">
    <mat-form-field appearance="outline">
      <mat-label>Employee code</mat-label>
      <input
        matInput
        formControlName="employeeCode"
        placeholder="Placeholder"
      />
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>
</div>
