<form [formGroup]="companyDetailsForm" class="main-div">
  <div class="row mt-4">
    <h2 class="head-name">COMPANY DETAILS</h2>
    <div class="col-lg-12">
      <div class="company-details-form-div">
        <div class="row mm">
          <div class="col-lg-4" formGroupName="designation">
            <mat-label class="mat-label">Designation<span style="color: red">*</span></mat-label>
            <mat-form-field appearance="outline" color="primary">
              <mat-select formControlName="id" placeholder="Select" tabIndex="16">
                <mat-option [disabled]="true">Select</mat-option>
                <mat-option *ngFor="let designation of designations" [value]="designation.id">{{
                  designation.designationName }}</mat-option>
              </mat-select>
              <mat-error *ngIf="isControlInvalid('designation.id')" class="validate-text">
                Please enter Designation
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-4" formGroupName="grade">
            <mat-label class="mat-label">Grade<span style="color: red">*</span></mat-label>
            <mat-form-field appearance="outline" color="primary">
              <mat-select formControlName="id" placeholder="Select" tabIndex="17">
                <mat-option [disabled]="true">Select</mat-option>
                <mat-option *ngFor="let grade of grades" [value]="grade.id">{{
                  grade.gradeName
                  }}</mat-option>
              </mat-select>
              <mat-error *ngIf="isControlInvalid('grade.id')" class="validate-text">
                Please enter Grade
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-4" formGroupName="department">
            <mat-label class="mat-label">Department<span style="color: red">*</span></mat-label>
            <mat-form-field appearance="outline" color="primary">
              <mat-select formControlName="id" placeholder="Select" tabIndex="18">
                <mat-option [disabled]="true">Select</mat-option>
                <mat-option *ngFor="let department of departments" [value]="department.id">{{ department.departmentName
                  }}</mat-option>
              </mat-select>
              <mat-error *ngIf="isControlInvalid('department.id')" class="validate-text">
                Please enter Department
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row mm">
          <div class="col-lg-4" formGroupName="role">
            <mat-label class="mat-label">Role<span style="color: red">*</span></mat-label>
            <mat-form-field appearance="outline" color="primary">
              <mat-select formControlName="id" placeholder="Select" tabIndex="19">
                <mat-option [disabled]="true">Select</mat-option>
                <mat-option *ngFor="let role of roles" [value]="role.id">{{
                  role.roleName
                  }}</mat-option>
              </mat-select>
              <mat-error *ngIf="isControlInvalid('role.id')" class="validate-text">
                Please enter Role
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-4">
            <mat-label class="mat-label">Reviewer Manager<span style="color: red">*</span></mat-label>
            <mat-form-field appearance="outline" color="primary">
              <mat-select formControlName="reviewerManager" placeholder="Select" tabIndex="20">
                <mat-option [disabled]="true">Select</mat-option>
                <mat-option *ngFor="let employee of employees" [value]="employee.firstName">
                  {{ employee.firstName }} {{ employee.lastName }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="isControlInvalid('reviewerManager')" class="validate-text">
                {{ getErrorMessage("reviewerManager") }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-4">
            <mat-label class="mat-label">Reporting Manager<span style="color: red">*</span></mat-label>
            <mat-form-field appearance="outline" color="primary">
              <mat-select formControlName="reportingManager" placeholder="Select" tabIndex="21">
                <mat-option [disabled]="true">Select</mat-option>
                <mat-option *ngFor="let employee of employees" [value]="employee.firstName">
                  {{ employee.firstName }} {{ employee.lastName }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="isControlInvalid('reportingManager')" class="validate-text">
                {{ getErrorMessage("reportingManager") }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row mm">
          <div class="col-lg-4" formGroupName="employeeType">
            <mat-label class="mat-label">Employee Type<span style="color: red">*</span></mat-label>
            <mat-form-field appearance="outline" color="primary">
              <mat-select formControlName="id" placeholder="Select" tabIndex="22">
                <mat-option [disabled]="true">Select</mat-option>
                <mat-option *ngFor="let employeeType of employeeTypes" [value]="employeeType.id">{{ employeeType.type
                  }}</mat-option>
              </mat-select>
              <mat-error *ngIf="isControlInvalid('employeeType.id')" class="validate-text">
                Please enter Employee Type
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-4">
            <mat-label class="mat-label">Billable<span style="color: red">*</span></mat-label>
            <mat-form-field appearance="outline" color="primary">
              <mat-select formControlName="billable" placeholder="Select" tabIndex="23">
                <mat-option [disabled]="true">Select</mat-option>
                <mat-option *ngFor="let billable of billables" [value]="billable.code">{{ billable.value }}</mat-option>
              </mat-select>
              <mat-error *ngIf="isControlInvalid('billable')" class="validate-text">
                {{ getErrorMessage("billable") }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-4">
            <mat-label class="mat-label">Probation<span style="color: red">*</span></mat-label>
            <mat-form-field appearance="outline" color="primary">
              <mat-select formControlName="probation" placeholder="Select" tabIndex="24">
                <mat-option [disabled]="true">Select</mat-option>
                <mat-option *ngFor="let probation of probations" [value]="probation.code">{{ probation.value
                  }}</mat-option>
              </mat-select>
              <mat-error *ngIf="isControlInvalid('probation')" class="validate-text">
                {{ getErrorMessage("probation") }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row mm">
          <div class="col-lg-4">
            <mat-label class="mat-label">Company Email<span style="color: red">*</span></mat-label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="companyEmail" tabIndex="25" />
              <mat-error *ngIf="isControlInvalid('companyEmail')">
                <span class="validate-text">{{
                  getErrorMessage("companyEmail")
                  }}</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-4">
            <mat-label class="mat-label">Client Email</mat-label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="clientEmail" tabIndex="26" />
              <mat-error *ngIf="isControlInvalid('clientEmail')">
                <span class="validate-text">{{
                  getErrorMessage("clientEmail")
                  }}</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-4">
            <mat-label class="mat-label">Default Shift<span style="color: red">*</span></mat-label>
            <mat-form-field appearance="outline" color="primary">
              <mat-select formControlName="shift" placeholder="Select" tabIndex="27">
                <mat-option [disabled]="true">Select</mat-option>
                <mat-option *ngFor="let defaultShift of defaultShifts" [value]="defaultShift.code">{{ defaultShift.value
                  }}</mat-option>
              </mat-select>
              <mat-error *ngIf="isControlInvalid('shift')" class="validate-text">
                {{ getErrorMessage("shift") }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="form-footer">
          <button _ngcontent-ng-c812429062="" class="btn btn-primary px-4 float-right company-details-save-btn"
            (click)="onSubmit()" [disabled]="!companyDetailsForm.valid" tabIndex="28">
            {{ actionLabel }}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>