<div class="form">
  <form [formGroup]="roleForm">
    <div class="page-title">
      <div class="row">
        <div class="col-lg-8">
          <div class="card">
            <h2 class="card-title">ROLE INFO</h2>
            <div class="row mm">
              <div class="col-lg-6">
                <mat-label class="dd">Role Id</mat-label>
                <div>
                  <mat-form-field appearance="outline" color="primary">
                    <input
                      matInput
                      placeholder="AVI0123"
                      formControlName="roleId"
                    />
                    <div
                      *ngIf="
                        roleForm.controls['roleId']?.invalid &&
                        roleForm.controls['roleId']?.touched &&
                        roleForm.controls['roleId']?.errors
                      "
                    >
                      <span
                        class="validate-text"
                        *ngIf="roleForm.controls['roleId']?.errors?.['required']"
                        >Please enter Role Id</span
                      >

                      <span
                        class="validate-text"
                        *ngIf="roleForm.controls['roleId'].errors?.['pattern']"
                        >Please enter valid Role Id
                      </span>

                      <span
                        class="validate-text"
                        *ngIf="roleForm.controls['roleId']?.errors?.['leadingSpace'] && !roleForm.controls['roleId'].errors?.['pattern'] && !roleForm.controls['roleId']?.errors?.['trailingSpace']"
                        >Leading space not allowed.</span
                      >

                      <span
                        class="validate-text"
                        *ngIf="roleForm.controls['roleId']?.errors?.['whitespace']"
                        >Field can not be empty.</span
                      >

                      <span
                        class="validate-text"
                        *ngIf="roleForm.controls['roleId']?.errors?.['trailingSpace'] && !roleForm.controls['roleId'].errors?.['pattern'] && !roleForm.controls['roleId']?.errors?.['leadingSpace']"
                        >Trailing space not allowed.</span
                      >

                      <span
                        class="validate-text"
                        *ngIf="roleForm.controls['roleId']?.errors?.['trailingSpace'] && !roleForm.controls['roleId'].errors?.['pattern'] && roleForm.controls['roleId']?.errors?.['leadingSpace']"
                        >Trailing,Leading spaces not allowed.</span
                      >
                    </div>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-6">
                <mat-label class="dd">Role Name</mat-label>
                <div class="">
                  <mat-form-field appearance="outline" color="primary">
                    <input
                      matInput
                      placeholder="SalesForce-Developer"
                      class=""
                      formControlName="roleName"
                    />

                    <div
                      *ngIf="
                        roleForm.controls['roleName']?.invalid &&
                        roleForm.controls['roleName']?.touched &&
                        roleForm.controls['roleName']?.errors
                      "
                    >
                      <span
                        class="validate-text"
                        *ngIf="roleForm.controls['roleName']?.errors?.['required']"
                        >Please enter Role Name</span
                      >

                      <span
                        class="validate-text"
                        *ngIf="roleForm.controls['roleName'].errors?.['pattern']"
                        >Please enter valid First Name
                      </span>

                      <span
                        class="validate-text"
                        *ngIf="roleForm.controls['roleName']?.errors?.['leadingSpace'] && !roleForm.controls['roleName'].errors?.['pattern'] && !roleForm.controls['roleName']?.errors?.['trailingSpace']"
                        >Leading space not allowed.</span
                      >

                      <span
                        class="validate-text"
                        *ngIf="roleForm.controls['roleName']?.errors?.['whitespace']"
                        >Field can not be empty.</span
                      >

                      <span
                        class="validate-text"
                        *ngIf="roleForm.controls['roleName']?.errors?.['trailingSpace'] && !roleForm.controls['roleName'].errors?.['pattern'] && !roleForm.controls['roleName']?.errors?.['leadingSpace']"
                        >Trailing space not allowed.</span
                      >

                      <span
                        class="validate-text"
                        *ngIf="roleForm.controls['roleName']?.errors?.['trailingSpace'] && !roleForm.controls['roleName'].errors?.['pattern'] && roleForm.controls['roleName']?.errors?.['leadingSpace']"
                        >Trailing,Leading spaces not allowed.</span
                      >
                    </div>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-6">
                <mat-label class="dd">Organization Code</mat-label>
                <div class="">
                  <mat-form-field appearance="outline" color="primary">
                    <input
                      matInput
                      placeholder="IND_PUNE"
                      class=""
                      formControlName="orgCode"
                    />
                    <div
                      *ngIf="
                        roleForm.controls['orgCode']?.invalid &&
                        roleForm.controls['orgCode']?.touched &&
                        roleForm.controls['orgCode']?.errors
                      "
                    >
                      <span
                        class="validate-text"
                        *ngIf="roleForm.controls['orgCode']?.errors?.['required']"
                        >Please enter Org Code
                      </span>

                      <span
                        class="validate-text"
                        *ngIf="roleForm.controls['orgCode'].errors?.['pattern']"
                        >Please enter valid Org Code
                      </span>

                      <span
                        class="validate-text"
                        *ngIf="roleForm.controls['orgCode']?.errors?.['leadingSpace'] && !roleForm.controls['orgCode'].errors?.['pattern'] && !roleForm.controls['orgCode']?.errors?.['trailingSpace']"
                        >Leading space not allowed.</span
                      >

                      <span
                        class="validate-text"
                        *ngIf="roleForm.controls['orgCode']?.errors?.['whitespace']"
                        >Field can not be empty.</span
                      >

                      <span
                        class="validate-text"
                        *ngIf="roleForm.controls['orgCode']?.errors?.['trailingSpace'] && !roleForm.controls['orgCode'].errors?.['pattern'] && !roleForm.controls['orgCode']?.errors?.['leadingSpace']"
                        >Trailing space not allowed.</span
                      >

                      <span
                        class="validate-text"
                        *ngIf="roleForm.controls['orgCode']?.errors?.['trailingSpace'] && !roleForm.controls['orgCode'].errors?.['pattern'] && roleForm.controls['orgCode']?.errors?.['leadingSpace']"
                        >Trailing,Leading spaces not allowed.</span
                      >
                    </div>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div _ngcontent-ng-c812429062="" class="form-footer">
              <button
                _ngcontent-ng-c812429062=""
                class="profile-save-btn"
                (click)="onSumbit()"
              >
                {{ actionLabel }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
