<div id="navbar-wrapper">
    <nav class="navbar  navbar-expand-lg fixed-top">
        <div class="container-fluid p-0">
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <form class="search-icon d-flex justify-content-between">
                    <input class="form-control search-box" type="search." placeholder="Search.." aria-label="Search">
                    <div class="search-bar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class=" search-icon" _ngcontent-ng-c1348964962="">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                    </div>
                </form>
                <div class="navbar-nav">
                    <div class="dropdown">
                        <img src="../../../assets/american-flag-background_23-2147815553.avif" class="img-flg">
                        <span class="language">EN</span>
                        <div class="more-lang">
                            <div class="dropdown-content">
                                <div class="d-flex us-name">
                                    <img src="../../../assets/american-flag-background_23-2147815553.avif"
                                        class="img-flg">
                                    <div class="map d-flex">
                                        <div class="language1">English </div>
                                        <div class="ss" style="margin-left:5px;color:#999;"> (US)</div>
                                    </div>
                                </div>
                                <div class="d-flex us-name">
                                    <img src="../../../assets/French.jpg" class="img-flg">
                                    <div class="d-flex map">
                                        <div class="language1"> Français</div>
                                    </div>
                                </div>
                                <div class="d-flex us-name">
                                    <img src="../../../assets/india-flag-icon.jpg" class="img-flg">
                                    <div class="d-flex map">
                                        <div class="language1">Hindi </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="nav-item nav-link active">

                        <i class="far fa-moon logout-icon"></i>
                    </a>
                    <div class="dropdown">
                        <a href="#" class="nav-item nav-link active">
                            <span class="badge rounded-pill badge-primary">4 </span>
                            <i class="fa-regular fa-bell logout-icon"></i>
                        </a>
                        <div class="dropdown-content1">
                            <div class="d-flex justify-content-between noti-section">
                                <h3 class="">Notification</h3>
                                <i class="fa-regular fa-bell notification-icon"></i>
                            </div>

                            <li a href="" class="notification-submenu">
                                <i class="fa-regular fa-circle-dot circle-icon"></i><span
                                    class="delivery-content">Delivery Processing</span> <span class="pull-right">3
                                    hr</span>
                            </li>
                            <li a href="" class="notification-submenu">
                                <i class="fa-regular fa-circle-dot circle-icon"></i><span class="delivery-content">Order
                                    Generated</span> <span class="pull-right">3
                                    hr</span>
                            </li>
                            <li a href="" class="notification-submenu">
                                <i class="fa-regular fa-circle-dot circle-icon"></i><span
                                    class="delivery-content">Tickets Generated</span> <span class="pull-right">3
                                    hr</span>
                            </li>
                            <li a href="" class="notification-submenu">
                                <i class="fa-regular fa-circle-dot circle-icon"></i><span
                                    class="delivery-content">Delivery Completed</span> <span class="pull-right">6
                                    hr</span>
                            </li>
                            <li><a href="" class="btn btn-primary ">Check all notification</a></li>
                        </div>
                    </div>


                    <div class="dropdown">
                        <a href="#" class="nav-item nav-link active">
                        
                            <i class="fa-regular fa-message logout-icon"></i>
                        </a>
                        <div class="dropdown-content1">
                            <div class="d-flex justify-content-between noti-section">
                                <h3 class="">Message Box</h3>
                                <i class="fa-regular fa-bell notification-icon"></i>
                            </div>

                            <li a href="" class="notification-submenu">
                                <i class="fa-regular fa-circle-dot circle-icon"></i><span
                                    class="delivery-content">Delivery Processing</span> <span class="pull-right">3
                                    hr</span>
                            </li>
                            <li a href="" class="notification-submenu">
                                <i class="fa-regular fa-circle-dot circle-icon"></i><span class="delivery-content">Order
                                    Generated</span> <span class="pull-right">3
                                    hr</span>
                            </li>
                            <li a href="" class="notification-submenu">
                                <i class="fa-regular fa-circle-dot circle-icon"></i><span
                                    class="delivery-content">Tickets Generated</span> <span class="pull-right">3
                                    hr</span>
                            </li>
                            <li a href="" class="notification-submenu">
                                <i class="fa-regular fa-circle-dot circle-icon"></i><span
                                    class="delivery-content">Delivery Completed</span> <span class="pull-right">6
                                    hr</span>
                            </li>
                            <li><a href="" class="btn btn-primary ">Check all notification</a></li>
                        </div>
                    </div>




                    <!-- <a href="#" class="nav-item nav-link active">
                        <i class="fa-regular fa-message logout-icon"></i>
                    </a> -->
                    <a href="#" class="nav-item nav-link active">
                        <i class="fas fa-vector-square logout-icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>