.noText {
  opacity: 0.5;
}

.action-btn {
  border: none;
  border-color: white;
  width: 40px;

  padding: 2px;
}

.action-btn {
  border: none;
  border-color: white;
  width: 40px;

  padding: 2px;
}
.select-tag {
  width: 100%;
}
.tbody {
  font-size: small;
}
.data-row {
  padding-bottom: 1px;
}
.card {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
  height: 100%;
}
th {
  text-align: left;
}
// .content {
//     background-color: #f9f9f9;
//     border-radius: 30px;

//     padding: 20px;
// }

.form-control.search {
  width: 220px;
  height: 35px;
  margin-left: 10px;
  // background-color: #f9f9f9;
  color: #cbbdc2;
  border: 1px solid #f9f9f9;
  box-shadow: none !important;
  margin-right: 20px;
}
label {
  font-size: 14px;
  font-weight: 400;
}

.cardtoolbar {
  padding: 4px;
}

.card-header1 {
  background-color: #fff !important;
  border-radius: 10px;
}

.svg-icon {
  color: #534686;
}

.btn.btn-light-primary {
  color: #534686;
  background-color: #f1faff;
  box-shadow: none !important;
}

.pagination-box {
  background-color: #534686;
  color: white !important;
  border-radius: 5px;
  margin-right: 10px;
  height: 30px;
  font-size: 13px !important;
  font-weight: 400;
  // padding: 2px 7px 3px;
  // -webkit-appearance: menulist;
}

.icon-class {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 32px;
  background-color: #534686;
  color: white;
  border-radius: 5px;
}

select {
  color: #534686 !important;
  box-shadow: none !important;
}

/* select:hover{
  color:white !important;
  background-color: #00a3ff;  
} */
/* option:hover{
    color:white !important;
  background-color: #00a3ff; 
} */
// .heading {
//     margin-left: 10px;
//     padding: 10px;

// }
.thead-name {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  color: #2b2b2b;
  font-weight: 500;
}
.data-cellname {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  color: #2b2b2b;
  font-weight: 400;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #534686;
  border-color: #534686;
  height: 35px;
}
.pagination a {
  border-radius: 5px !important;
  border: 1px solid white !important;
  color: black;
}
.search-icon {
  position: relative;
}
.search-box {
  background-color: #eff3f9;
  height: 50px;
  width: 350px;
  padding: 5px 20px;
  border-radius: 8px;
  border: 1px solid #eff3f9;
}
.search-bar {
  position: absolute;
  left: 307px;
  top: 14px;
  font-size: 19px;
}
.table > :not(caption) > * > * {
  padding: 5px;
}
.form-check {
  margin-bottom: 0px;
}
.container1 {
  height: 100%;
}
