<form [formGroup]="scopeForm">
  <div class="container" style="width: 500px; height: auto">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-between">
            <h2 class="title" mat-dialog-title>Scope</h2>
            <button class="close-btn" (click)="Close(false)">
              <i style="font-size: 12px" class="fa">&#xf00d;</i>
            </button>
          </div>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row row-section">
        <div class="col-md-4 mt-2">
          <mat-label>Scope Name<span style="color: red">*</span></mat-label>
        </div>
        <div class="col-md-8">
          <mat-form-field appearance="outline" color="primary">
            <div class="form-controls">
              <input matInput formControlName="name" />
              <div
                *ngIf="
                  nameControl?.invalid &&
                  nameControl?.touched &&
                  nameControl?.errors
                "
              >
                <span
                  class="validate-text"
                  *ngIf="nameControl?.errors?.['required']"
                  >Please enter Scope Name
                </span>
                <span
                  class="validate-text"
                  *ngIf="nameControl?.errors?.['pattern']"
                  >Please enter valid Scope Name
                </span>
                <span
                  class="validate-text"
                  *ngIf="nameControl?.errors?.['leadingSpace'] && !nameControl?.errors?.['pattern'] && !nameControl?.errors?.['trailingSpace']"
                  >Leading space not allowed</span
                >
                <span
                  class="validate-text"
                  *ngIf="nameControl?.errors?.['whitespace'] && !nameControl?.errors?.['leadingSpace'] && !nameControl?.errors?.['trailingSpace']  && !nameControl?.errors?.['pattern']"
                  >No whitespaces are allowed</span
                >
                <span
                  class="validate-text"
                  *ngIf="nameControl?.errors?.['trailingSpace'] && !nameControl?.errors?.['pattern'] && !nameControl?.errors?.['leadingSpace']"
                  >Trailing space not allowed</span
                >
                <span
                  class="validate-text"
                  *ngIf="nameControl?.errors?.['trailingSpace'] && !nameControl?.errors?.['pattern'] && nameControl?.errors?.['leadingSpace']"
                  >Trailing, Leading spaces not allowed</span
                >
                <span
                  class="validate-text"
                  *ngIf="nameControl?.errors?.['nameMaxLength'] && !nameControl?.errors?.['pattern'] && !nameControl?.errors?.['leadingSpace']"
                  >Scope Name should not exceed 50 characters</span
                >
              </div>
            </div>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row row-section">
        <div class="col-md-4 mt-2">
          <mat-label>Display Name<span style="color: red">*</span></mat-label>
        </div>
        <div class="col-md-8">
          <mat-form-field appearance="outline" color="primary">
            <div class="form-controls">
              <input matInput formControlName="displayName" />
              <div
                *ngIf="
                  displayNameControl?.invalid &&
                  displayNameControl?.touched &&
                  displayNameControl?.errors
                "
              >
                <span
                  class="validate-text"
                  *ngIf="displayNameControl?.errors?.['required']"
                  >Please enter Display Name
                </span>
                <span
                  class="validate-text"
                  *ngIf="displayNameControl?.errors?.['pattern']"
                  >Please enter valid Display Name
                </span>
                <span
                  class="validate-text"
                  *ngIf="displayNameControl?.errors?.['leadingSpace'] && !displayNameControl?.errors?.['pattern'] && !displayNameControl?.errors?.['trailingSpace']"
                  >Leading space not allowed</span
                >
                <span
                  class="validate-text"
                  *ngIf="displayNameControl?.errors?.['whitespace'] && !displayNameControl?.errors?.['leadingSpace'] && !displayNameControl?.errors?.['trailingSpace']  && !displayNameControl?.errors?.['pattern']"
                  >No whitespaces are allowed</span
                >
                <span
                  class="validate-text"
                  *ngIf="displayNameControl?.errors?.['trailingSpace'] && !displayNameControl?.errors?.['pattern'] && !displayNameControl?.errors?.['leadingSpace']"
                  >Trailing space not allowed</span
                >
                <span
                  class="validate-text"
                  *ngIf="displayNameControl?.errors?.['trailingSpace'] && !displayNameControl?.errors?.['pattern'] && displayNameControl?.errors?.['leadingSpace']"
                  >Trailing, Leading spaces not allowed</span
                >
                <span
                  class="validate-text"
                  *ngIf="displayNameControl?.errors?.['nameMaxLength'] && !displayNameControl?.errors?.['pattern'] && !displayNameControl?.errors?.['leadingSpace']"
                  >Display Name should not exceed 250 characters</span
                >
              </div>
            </div>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row row-section">
        <div class="col-md-4 mt-2">
          <mat-label>Icon URI</mat-label>
        </div>
        <div class="col-md-8">
          <mat-form-field appearance="outline" color="primary">
            <div class="form-controls">
              <input matInput formControlName="iconUri" />
            </div>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div _ngcontent-ng-c812429062="" class="form-footer">
      <mat-dialog-actions>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="d-flex justify-content-end">
                <button
                  _ngcontent-ng-c812429062=""
                  class="save-btn"
                  (click)="onSubmit()"
                  [disabled]="!scopeForm.valid"
                >
                  {{ actionLabel }}
                </button>
                <button
                  _ngcontent-ng-c812429062=""
                  class="profile-save-btn dark"
                  (click)="resetForm()"
                >
                  Reset
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-dialog-actions>
    </div>
  </div>
</form>
