.form-footer{
    margin-top: 20px;
    margin-bottom: 20px;
}

:host::ng-deep .mat-mdc-form-field {
    display: flex !important;
    margin-top: 10px;
}

.visafileInput{
    display: none;
}

.upload-doc-btn{
    background-color: #534686;
    color: #ffffff;
    height: 35px;
    width: 150px;
    margin-top: 10px;
}

.view_file{
    margin-left: 10px;
}

.visa-btn{
    background-color: #534686;
    color: #ffffff;
    height: 35px;
    width: 100px;
    margin-left: 10px;
}

:host::ng-deep .cdk-overlay-pane.my-dialog {
    position: relative!important;
  }

:host::ng-deep .close {
    position: absolute;
    top: 0;
    right: 10px;
    top:10px;
    padding: 10px;
    line-height: 14px;
    min-width: auto;
  }

  :host::ng-deep .employee_visa_title{
    padding:0px;
  }

  :host::ng-deep .cdk-overlay-pane.my-dialog .dialog-div-modal {
    position: relative!important;
    padding: 20px;
  }

  .profile-save-btn
{
  background-color: #534686;
  border-color: #534686;
}

.col-md-4 mt-2 {
  margin-right: 50px;
}
.input {
  width: 140%;
}
.mat-mdc-dialog-surface mdc-dialog__surface {
  overflow: hidden;
}
.row-section {
  margin-left: 15px;
  //margin-top: 5px;
}
.title {
  margin-left: -11px;
  margin-top: 10px;
}
.close-btn {
  width: 25px;
  height: 20px;
  font-size: 8px;
  margin-top: 8%;
  border-radius: 7px;
  border: none;
  margin-right: -30px;
}
.line {
  width: 100%;
  border-bottom: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}
.justify-content-between {
  justify-content: space-between !important;
  height: 50px;
  width: 95%;
  margin-top: -10px;
  // border-bottom: 1px solid black;
  // margin-bottom: 30px;
  // padding-bottom: 10px;
}
.justify-content-end {
  justify-content: flex-end !important;
  width: 99%;
}
.action-btn {
  margin: 3px;
  height: 30px;
  //background-color: gray;
}
.desc-label {
  margin-top: -20px !important;
}

.field-one {
  margin-top: 3px;
}
.educational-qualification-save-btn {
  cursor: pointer;
  background-color: blue;
  color: white;
  margin-right: 3px;
}

.save-btn {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #534686;
  color: white;
  margin-right: 4px;
}

:host::ng-deep .mat-mdc-text-field-wrapper {
  // border:1px solid red !important;
  width: 256px !important;
  height: 35px !important;
  font-size: 14px;
  border-radius: 8px;
}
:host::ng-deep.mat-mdc-text-field-wrapper.mdc-text-field--outlined
  .mat-mdc-form-field-infix {
  padding-top: 6px !important;
}
:host::ng-deep.mat-mdc-icon-button.mat-mdc-button-base {
  width: 40px;
  height: 40px;
  /* padding: 12px; */
  top: -13px;
}



:host::ng-deep.mat-mdc-form-field-error {
  display: block;
  margin-left: -17px;
}
