<div class="container" style="width: 510px; height: auto">
  <form [formGroup]="employeeVisaDetailsForm">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-between">
            <h2 class="title" mat-dialog-title>Visa Details</h2>
            <button class="close-btn" (click)="Close(false)">
              <i style="font-size: 12px" class="fa">&#xf00d;</i>
            </button>
          </div>
          <div class="line"></div>
        </div>
      </div>
    </div>

    <div class="form-group form-field">
      <div class="row row-section">
        <div class="col-md-4 mt-3">
          <mat-label>Country Code<span style="color: red">*</span></mat-label>
        </div>
        <div class="col-md-8">
          <div class="form-controls">
            <mat-form-field color="primary" appearance="outline">
              <mat-select formControlName="countryCode" placeholder="Select">
                <mat-option [disabled]="true">Select</mat-option>
                <mat-option
                  *ngFor="let country_code of country_codes"
                  [value]="country_code.value"
                >
                  {{ country_code.value }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="isControlInvalid('countryCode')"
                class="validate-text"
              >
                {{ getErrorMessage("countryCode") }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group form-field">
      <div class="row row-section">
        <div class="col-md-4 mt-3">
          <mat-label>Visa Number<span style="color: red">*</span></mat-label>
        </div>
        <div class="col-md-8">
          <div class="form-controls">
            <mat-form-field appearance="outline" color="primary">
              <input
                matInput
                formControlName="visaNumber"
                placeholder="Visa Number"
              />
              <mat-error
                *ngIf="isControlInvalid('visaNumber')"
                class="validate-text"
              >
                {{ getErrorMessage("visaNumber") }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row row-section">
        <div class="col-md-4 mt-2">
          <mat-label>Date Of Issue</mat-label>
        </div>
        <div class="col-md-8">
          <mat-form-field appearance="outline" class="">
            <input
              matInput
              formControlName="validDate"
              [matDatepicker]="validDatepicker"
              placeholder="DD/MM/YYYY"
              readonly
            />

            <mat-datepicker-toggle
              matIconSuffix
              [for]="validDatepicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #validDatepicker></mat-datepicker>
            <mat-error
              *ngIf="isControlInvalid('validDate')"
              class="validate-text"
            >
              {{ getErrorMessage("validDate") }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-group form-field">
      <div class="row row-section">
        <div class="col-md-4 mt-2">
          <mat-label>Date Of Issue</mat-label>
        </div>
        <div class="col-md-8">
          <div class="form-controls">
            <div class="passport-file-upload">
              <button
                id="add-passport-doc-btn"
                type="button"
                class="center-positon-absolute upload-doc-btn"
                mat-icon-button
                (click)="openVisaFileInput(visaFile)"
              >
                Choose File
              </button>
              <input
                hidden
                #visaFile
                type="file"
                name="visaFile"
                class="visafileInput"
                accept="image/*,application/pdf"
                (change)="onFileSelect($event)"
              />
              <a
                [href]="viewFile"
                *ngIf="viewFile"
                target="_blank"
                class="view_file"
                ><button type="button" mat-button class="upload-doc-btn">
                  View File
                </button></a
              >
              <mat-error *ngIf="fileSizeError" class="validate-text">{{
                fileSizeError
              }}</mat-error>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div _ngcontent-ng-c812429062="" class="form-footer">
      <mat-dialog-actions>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="d-flex justify-content-end">
                <button
                  _ngcontent-ng-c812429062=""
                  class="save-btn"
                  (click)="onSubmit()"
                  [disabled]="!employeeVisaDetailsForm.valid"
                >
                  {{ actionLabel }}
                </button>

                <button
                  _ngcontent-ng-c812429062=""
                  class="profile-save-btn dark"
                  (click)="resetForm()"
                >
                  Reset
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-dialog-actions>
    </div>
  </form>
</div>
