<div class="mat-dialog-content container dialog-div-modal">
  <form [formGroup]="employeeVisaDetailsForm">

    <h2 mat-dialog-title class="card-title employee_visa_title">Visa Details</h2>
    <button class="close" mat-button (click)="Close(false)">X</button>

    <mat-label>Country Code</mat-label>
    <mat-form-field color="primary" appearance="outline">
      <mat-select formControlName="countryCode" placeholder="Select">
        <mat-option>Select</mat-option>
        <mat-option *ngFor="let country_code of country_codes" [value]="country_code.value">
          {{ country_code.value }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="isControlInvalid('countryCode')">
        {{ getErrorMessage("countryCode") }}
      </mat-error>
    </mat-form-field>

    <mat-label>Visa Number</mat-label>
    <mat-form-field appearance="outline" color="primary">
      <input matInput formControlName="visaNumber" placeholder="Visa Number" />
      <mat-error *ngIf="isControlInvalid('visaNumber')">
        {{ getErrorMessage("visaNumber") }}
      </mat-error>
    </mat-form-field>

    <mat-label>Date Of Issue</mat-label>
    <mat-form-field appearance="outline" class="">
      <input matInput formControlName="validDate" [matDatepicker]="picker" placeholder="" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <!--<mat-error *ngIf="isControlInvalid('validDate')">
          {{ getErrorMessage("validDate") }}
        </mat-error>-->
      <mat-error *ngIf="employeeVisaDetailsForm.controls['validDate']?.errors">
        {{ employeeVisaDetailsForm.controls['validDate'].errors?.['invalidDate'] }}
      </mat-error>

    </mat-form-field>

    <mat-label>Visa File</mat-label>

    <div class="passport-file-upload">
      <button id="add-passport-doc-btn" type="button" class="center-positon-absolute upload-doc-btn" mat-icon-button
        (click)="openVisaFileInput(visaFile)"> Choose File </button>
      <input #visaFile type="file" name="visaFile" class="visafileInput" accept="image/*,application/pdf"
        (change)="onFileSelect($event)">
      <a [href]="viewFile" *ngIf="viewFile" target="_blank" class="view_file"><button type="button" mat-button class="upload-doc-btn"> View File </button></a>
      <mat-error *ngIf="FleSizeError">{{FleSizeError}}</mat-error>
    </div>
    
    <div class="d-flex justify-content-end form-footer" mat-dialog-actions>
      <button mat-button class="btn btn-primary px-4 float-right profile-save-btn visa-btn" (click)="onSubmit()"
        [disabled]="!employeeVisaDetailsForm.valid">
        {{ actionLabel }}
      </button>

      <button mat-button class="btn dark visa-btn" type="button" (click)="onresetForm()">
        Reset
      </button>
    </div>
  </form>

</div>
<!--<button (click)="nextStep()">click here</button>-->