<div class="page-title">
  <div class="row">
    <div class="col-lg-12">
      <mat-tab-group>
        <mat-tab label="Educational Qualification"
          ><ng-template matTabContent
            ><app-educational-qualifications-table></app-educational-qualifications-table></ng-template
        ></mat-tab>
        <mat-tab label="Work Experience"
          ><ng-template matTabContent
            ><app-work-experience-table></app-work-experience-table></ng-template
        ></mat-tab>
        <mat-tab label="Certification"
          ><ng-template matTabContent></ng-template
        ></mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
