.address_tenure {
  margin-top: 40px;
}

.col-lg-2 {
  flex-basis: 10%; /* Adjust the width percentage as needed */
}
.col-lg-1 {
  flex-basis: 11.5%; /* Adjust the width percentage as needed */
}

:host ::ng-deep .address-details-save-btn {
  background-color: #534686;
  border: #534686;
}
mat-label {
  font-weight: 550;
}
