:host ::ng-deep .joining-details-save-btn {
  background-color: #534686;
  border: #534686;
}

::ng-deep .mat-mdc-button-touch-target:focus {
 background-color: red!important;
}

mat-label {
  font-weight: 550;
}

.joining-details-save-btn:hover {
  background-color: #534686;
  border-color: #534686;
  transform: scale(1.05);
}

.main-div {
  padding-left: 10px;
  margin-bottom: 20px;
}

.validate-text {
  font-size: 12px;
  text-align: left;
  color: red;
  position: relative; /* Or absolute or fixed depending on your layout */
  left: -15px;
}

.head-name {
  color: #534686;
}
