:host ::ng-deep .joining-details-save-btn {
  background-color: #534686;
  border: #534686;
}

.col-lg-6 {
  margin-bottom: 4px;
}

::ng-deep .mat-mdc-button-touch-target:focus {
  background-color: red !important;
}

mat-label {
  font-weight: 550;
}

.joining-details-save-btn:hover {
  background-color: #534686;
  border-color: #534686;
  transform: scale(1.05);
}

.mat-select-value-text.custom-select-value {
  font-size: 18px; /* Adjust the font size as needed */
  color: black; /* Adjust the color as needed */
  font-weight: 450;
}

.main-div {
  padding-left: 10px;
  margin-bottom: 20px;
}

.validate-text {
  font-size: 9px;
  text-align: left;
  color: red;
  position: relative; /* Or absolute or fixed depending on your layout */
  left: -15px;
}

.head-name {
  color: #534686;
}

.formHeader {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: larger;
  color: #534686;
}
