:host ::ng-deep .joining-details-save-btn {
  background-color: #534686;
  border: #534686;
}

mat-label {
  font-weight: 550;
}

.joining-details-save-btn:hover {
  transform: scale(1.05);
}

.main-div {
  padding-left: 10px;
  margin-bottom: 20px;
}
