<form [formGroup]="employeePersonalDetailsForm" class="main-div">
  <div class="row mm mt-4">
    <h2 class="card-title employee_info_title head-name">PERSONAL DETAILS</h2>
    <div class="col-lg-4">
      <mat-label>Marital Status</mat-label>
      <mat-form-field appearance="outline" color="primary">
        <mat-select formControlName="maritalStatus" placeholder="Select">
          <mat-option [disabled]="true">Select</mat-option>
          <mat-option
            *ngFor="let marital_status of marital_statuses"
            [value]="marital_status.value"
          >
            {{ marital_status.value }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="isControlInvalid('maritalStatus')"
          class="validate-text"
        >
          {{ getErrorMessage("maritalStatus") }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-label>Blood Group</mat-label>
      <mat-form-field appearance="outline">
        <mat-select formControlName="bloodGroup" placeholder="Select">
          <mat-option [disabled]="true">Select</mat-option>
          <mat-option *ngFor="let bg of blood_group" [value]="bg.value">
            {{ bg.value }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="isControlInvalid('bloodGroup')" class="validate-text">
          {{ getErrorMessage("bloodGroup") }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-label>CPR Number</mat-label>
      <mat-form-field appearance="outline" color="primary">
        <input matInput formControlName="cprNumber" placeholder="1234567890" />
        <mat-error
          *ngIf="
            isControlInvalid('cprNumber') &&
            !employeePersonalDetailsForm.controls['cprNumber'].hasError(
              'maxlength'
            )
          "
          class="validate-text"
        >
          {{ getErrorMessage("cprNumber") }}
        </mat-error>
        <mat-error
          *ngIf="
            employeePersonalDetailsForm.controls['cprNumber'].touched &&
            employeePersonalDetailsForm.controls['cprNumber'].hasError(
              'maxlength'
            )
          "
        >
          CPR Number should not exceed 10 characters
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row mm">
    <div class="col-lg-4">
      <mat-label>Family Background</mat-label>
      <mat-form-field appearance="outline" color="primary">
        <textarea
          matInput
          rows="4"
          formControlName="familyBackground"
        ></textarea>
        <mat-error
          *ngIf="isControlInvalid('familyBackground')"
          class="validate-text"
        >
          {{ getErrorMessage("familyBackground") }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-label>Health Details</mat-label>
      <mat-form-field appearance="outline">
        <textarea matInput rows="4" formControlName="healthDetails"></textarea>
        <mat-error
          *ngIf="isControlInvalid('healthDetails')"
          class="validate-text"
        >
          {{ getErrorMessage("healthDetails") }}
        </mat-error>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-label>GOSI</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="gosi" placeholder="123456789" />
        <mat-error
          *ngIf="
            isControlInvalid('gosi') &&
            !employeePersonalDetailsForm.controls['cprNumber'].hasError(
              'maxlength'
            )
          "
          class="validate-text"
        >
          {{ getErrorMessage("gosi") }}
        </mat-error>
        <mat-error
          *ngIf="
            employeePersonalDetailsForm.controls['cprNumber'].touched &&
            employeePersonalDetailsForm.controls['cprNumber'].hasError(
              'maxlength'
            )
          "
        >
          GOSI should not exceed 9 characters
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row mm">
    <h2 class="card-title employee_info_title">PASSPORT DETAILS</h2>
    <div class="col-lg-4">
      <mat-label>Passport Number</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="passportNumber"
          placeholder="A2096457"
          (input)="update($event)"
        />
        <mat-error
          *ngIf="
            isControlInvalid('passportNumber') &&
            !employeePersonalDetailsForm.controls['passportNumber'].hasError(
              'maxlength'
            )
          "
          class="validate-text"
        >
          {{ getErrorMessage("passportNumber") }}
        </mat-error>
        <mat-error
          *ngIf="
            employeePersonalDetailsForm.controls['passportNumber'].touched &&
            employeePersonalDetailsForm.controls['passportNumber'].hasError(
              'maxlength'
            )
          "
        >
          Passport Number should not exceed 20 characters
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-label>Passport Name</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="passportName" />
        <mat-error
          *ngIf="isControlInvalid('passportName')"
          class="validate-text"
        >
          {{ getErrorMessage("passportName") }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-label>Date Of Issue</mat-label>
      <mat-form-field appearance="outline" class="">
        <input
          matInput
          formControlName="passportIssueDate"
          [matDatepicker]="picker"
          placeholder="DD/MM/YYYY"
          readonly
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error
          *ngIf="isControlInvalid('passportIssueDate')"
          class="validate-text"
        >
          {{ getErrorMessage("passportIssueDate") }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row mm">
    <div class="col-lg-4">
      <mat-label>Valid Upto</mat-label>
      <mat-form-field appearance="outline" class="">
        <input
          matInput
          formControlName="passportValidity"
          [matDatepicker]="picker1"
          placeholder="DD/MM/YYYY"
          readonly
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error
          *ngIf="isControlInvalid('passportValidity')"
          class="validate-text"
        >
          {{ getErrorMessage("passportValidity") }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-lg-4">
      <mat-label>Place Of Issue</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="placeOfIssue" />
        <mat-error
          *ngIf="isControlInvalid('placeOfIssue')"
          class="validate-text"
        >
          {{ getErrorMessage("placeOfIssue") }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-lg-4 mt-2">
      <!--<mat-form-field>  -->
      <mat-label>File Upload</mat-label>
      <!--</mat-form-field> -->

      <div class="passport-file-upload">
        <button
          id="add-passport-doc-btn"
          class="center-positon-absolute upload-doc-btn"
          mat-icon-button
          (click)="openPassportFileInput(passportFileinput)"
        >
          Choose File
        </button>
        <input
          #passportFileinput
          type="file"
          name="passportFile"
          class="personalinfofileInput"
          accept="image/*,application/pdf"
          (change)="onPassportFileSelect($event)"
        />
        <a
          [href]="viewPassportFile"
          *ngIf="viewPassportFile"
          target="_blank"
          class="view_file"
          ><button type="button" mat-button class="upload-doc-btn">
            View File
          </button></a
        >
        <mat-error *ngIf="FleSizeError" class="validate-text">{{
          FleSizeError
        }}</mat-error>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row mm">
    <h2 class="card-title employee_info_title">AADHAR DETAILS</h2>
    <div class="col-lg-4">
      <mat-label>Aadhar Number</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="aadhaarNumber" />
        <mat-error
          *ngIf="
            isControlInvalid('aadhaarNumber') &&
            !employeePersonalDetailsForm.controls['aadhaarNumber'].hasError(
              'maxlength'
            )
          "
          class="validate-text"
        >
          {{ getErrorMessage("aadhaarNumber") }}
        </mat-error>
        <mat-error
          *ngIf="
            employeePersonalDetailsForm.controls['aadhaarNumber'].touched &&
            employeePersonalDetailsForm.controls['aadhaarNumber'].hasError(
              'maxlength'
            )
          "
        >
          Aadhar Number should not exceed 16 characters
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-label>Aadhar Name</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="aadhaarName" />
        <mat-error
          *ngIf="isControlInvalid('aadhaarName')"
          class="validate-text"
        >
          {{ getErrorMessage("aadhaarName") }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4 mt-2">
      <mat-label>File Upload</mat-label>
      <!--</mat-form-field> -->
      <div class="aadhar-file-upload">
        <button
          id="add-passport-doc-btn"
          class="center-positon-absolute upload-doc-btn"
          mat-icon-button
          (click)="openAadharFileInput(aadharfileInput)"
        >
          Choose File
        </button>
        <input
          #aadharfileInput
          type="file"
          name="aadharfileInput"
          class="personalinfofileInput"
          accept="image/*,application/pdf"
          (change)="onAadharFileSelect($event)"
        />
        <a
          [href]="viewAadharFile"
          *ngIf="viewAadharFile"
          target="_blank"
          class="view_file"
          ><button type="button" mat-button class="upload-doc-btn">
            View File
          </button></a
        >
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="row mm">
    <h2 class="card-title employee_info_title">PAN DETAILS</h2>
    <div class="col-lg-4">
      <mat-label>Pan Number</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="panCardNumber"
          placeholder="AAAPZ1234C"
        />
        <mat-error
          *ngIf="isControlInvalid('panCardNumber')"
          class="validate-text"
        >
          {{ getErrorMessage("panCardNumber") }}
        </mat-error>
        <mat-error
          *ngIf="
            employeePersonalDetailsForm.controls['panCardNumber'].touched &&
            employeePersonalDetailsForm.controls['panCardNumber'].hasError(
              'maxlength'
            )
          "
        >
          PAN Number should not exceed 10 characters
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-label>PAN Card Name</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="panCardName" />
        <mat-error
          *ngIf="isControlInvalid('panCardName')"
          class="validate-text"
        >
          {{ getErrorMessage("panCardName") }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4 mt-2">
      <mat-label>File Upload</mat-label>
      <!--</mat-form-field> -->
      <div class="aadhar-file-upload">
        <button
          id="add-passport-doc-btn"
          class="center-positon-absolute upload-doc-btn"
          mat-icon-button
          (click)="openPanFileInput(panfileInput)"
        >
          Choose File
        </button>
        <input
          #panfileInput
          type="file"
          name="panfileInput"
          class="personalinfofileInput"
          accept="image/*,application/pdf"
          (change)="onPanFileSelect($event)"
        />
        <a
          [href]="viewPANFile"
          *ngIf="viewPANFile"
          target="_blank"
          class="view_file"
          ><button type="button" mat-button class="upload-doc-btn">
            View File
          </button></a
        >
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row mm">
    <h2 class="card-title employee_info_title">PF DETAILS</h2>
    <div class="col-lg-4">
      <mat-label>UAN Number</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="uanNumber"
          placeholder="100904319456"
        />
        <mat-error
          *ngIf="
            isControlInvalid('uanNumber') &&
            !employeePersonalDetailsForm.controls['uanNumber'].hasError(
              'maxlength'
            )
          "
          class="validate-text"
        >
          {{ getErrorMessage("uanNumber") }}
        </mat-error>
        <mat-error
          *ngIf="
            employeePersonalDetailsForm.controls['uanNumber'].touched &&
            employeePersonalDetailsForm.controls['uanNumber'].hasError(
              'maxlength'
            )
          "
        >
          UAN Number should not exceed 12 characters
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-label>PF Number</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="pfNumber"
          placeholder="TNMAS12071991231234567"
        />
        <mat-error
          *ngIf="
            isControlInvalid('pfNumber') &&
            !employeePersonalDetailsForm.controls['pfNumber'].hasError(
              'maxlength'
            )
          "
          class="validate-text"
        >
          {{ getErrorMessage("pfNumber") }}
        </mat-error>
        <mat-error
          *ngIf="
            employeePersonalDetailsForm.controls['pfNumber'].touched &&
            employeePersonalDetailsForm.controls['pfNumber'].hasError(
              'maxlength'
            )
          "
        >
          PF Number should not exceed 22 characters
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="row mm">
    <h2 class="card-title employee_info_title">BANK DETAILS</h2>
    <div class="col-lg-4">
      <mat-label>Bank Account Number</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="bankAccountNumber"
          placeholder="635802010014976"
        />
        <mat-error
          *ngIf="
            isControlInvalid('bankAccountNumber') &&
            !employeePersonalDetailsForm.controls['bankAccountNumber'].hasError(
              'maxlength'
            )
          "
          class="validate-text"
        >
          {{ getErrorMessage("bankAccountNumber") }}
        </mat-error>
        <mat-error
          *ngIf="
            employeePersonalDetailsForm.controls['bankAccountNumber'].touched &&
            employeePersonalDetailsForm.controls['bankAccountNumber'].hasError(
              'maxlength'
            )
          "
        >
          Bank Account Number should not exceed 10 characters
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-label>IFSC Code / IBAN Code</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="ifscCode" placeholder="SBIN0125620" />
        <mat-error
          *ngIf="
            isControlInvalid('ifscCode') &&
            !employeePersonalDetailsForm.controls['ifscCode'].hasError(
              'maxlength'
            )
          "
          class="validate-text"
        >
          {{ getErrorMessage("ifscCode") }}
        </mat-error>
        <mat-error
          *ngIf="
            employeePersonalDetailsForm.controls['ifscCode'].touched &&
            employeePersonalDetailsForm.controls['ifscCode'].hasError(
              'maxlength'
            )
          "
        >
          IFSC Code / IBAN Number should not exceed 10 characters
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-lg-4">
      <mat-label>Bank Name</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="bankName" />
        <mat-error *ngIf="isControlInvalid('bankName')" class="validate-text">
          {{ getErrorMessage("bankName") }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="form-footer">
    <button
      mat-button
      class="btn btn-primary px-4 float-right profile-save-btn visa-btn"
      (click)="onSubmit()"
      [disabled]="!employeePersonalDetailsForm.valid"
    >
      {{ actionLabel }}
    </button>
  </div>
</form>
<!--<button (click)="nextStep()">click here</button>-->
