.passport-file-upload,
.aadhar-file-upload {
  margin-top: 15px;
}

.personalinfofileInput {
  display: none;
}

.upload-doc-btn {
  background-color: #534686;
  color: #ffffff;
  height: 35px;
  width: 150px;
}

.view_file {
  margin-left: 10px;
}

.profile-save-btn {
  background-color: #534686;
  border-color: #534686;
}
mat-label {
  font-weight: 550;
}
