<form [formGroup]="educationalDetailsForm">
  <div class="container" style="width: 630px; height: auto">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-between">
            <h2 class="title" mat-dialog-title>Educational Qualification</h2>
            <button class="close-btn" (click)="Close(false)">
              <i style="font-size: 12px" class="fa">&#xf00d;</i>
            </button>
          </div>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="form-group form-field">
      <div class="row row-section">
        <div class="col-md-4 mt-2">
          <mat-label>Educational Qualification</mat-label>
        </div>
        <div class="col-md-8">
          <mat-form-field appearance="outline" color="primary">
            <div class="form-controls">
              <input
                matInput
                placeholder=""
                formControlName="educationalQualification"
              />
            </div>
            <mat-error *ngIf="isControlInvalid('educationalQualification')">
              {{ getErrorMessage("educationalQualification") }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-group form-field">
      <div class="row row-section">
        <div class="col-md-4 mt-2">
          <mat-label>Qualification Level</mat-label>
        </div>
        <div class="col-md-8">
          <mat-form-field appearance="outline" color="primary">
            <div class="form-controls">
              <mat-select
                formControlName="qualificationLevel"
                placeholder="Select"
              >
                <mat-option>Select</mat-option>
                <mat-option
                  *ngFor="let qualificationLevel of qualificationLevels"
                  [value]="qualificationLevel.code"
                  >{{ qualificationLevel.value }}</mat-option
                >
              </mat-select>
            </div>
            <mat-error *ngIf="isControlInvalid('qualificationLevel')">
              {{ getErrorMessage("qualificationLevel") }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-group form-field">
      <div class="row row-section">
        <div class="col-md-4 field-one">
          <mat-label>School/University</mat-label>
        </div>
        <div class="col-md-8">
          <mat-form-field appearance="outline" color="primary">
            <div class="form-controls">
              <input matInput placeholder="" formControlName="instituteName" />
            </div>
            <mat-error *ngIf="isControlInvalid('instituteName')">
              {{ getErrorMessage("instituteName") }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-group form-field">
      <div class="row row-section">
        <div class="col-md-4 mt-2">
          <mat-label>Year Of Passing</mat-label>
        </div>
        <div class="col-md-8">
          <mat-form-field appearance="outline" class="">
            <input
              readonly
              matInput
              formControlName="passingYear"
              [matDatepicker]="picker"
              placeholder="DD/MM/YYYY"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="isControlInvalid('passingYear')">
              {{ getErrorMessage("passingYear") }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div _ngcontent-ng-c812429062="" class="form-footer">
      <mat-dialog-actions>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="d-flex justify-content-end">
                <button
                  _ngcontent-ng-c812429062=""
                  class="save-btn"
                  (click)="onSubmit()"
                  [disabled]="!educationalDetailsForm.valid"
                >
                  {{ actionLabel }}
                </button>
                <button
                  _ngcontent-ng-c812429062=""
                  class="educational-qualification-save-btn dark"
                  (click)="resetForm()"
                >
                  Reset
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-dialog-actions>
    </div>
  </div>
</form>
