<form [formGroup]="emergencyContactForm">
  <div class="container">
    <div class="row row-section mm mt-4">
      <div class="d-flex justify-content-between">
        <h2 class="card-title employee_info_title">Emergency Contacts</h2>
        <button class="close-btn" (click)="Close(false)">
          <i style="font-size: 12px" class="fa">&#xf00d;</i>
        </button>
      </div>

      <div class="row mm">
        <div class="col-md-4 col-lg-4">
          <mat-label>Emergency Contact Name</mat-label>
        </div>
        <div class="col-md-8 col-lg-8 form-controls">
          <mat-form-field appearance="outline" color="primary">
            <input
              matInput
              formControlName="emergencyContactName"
              placeholder="Contact Name"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row mm">
        <div class="col-md-4 col-lg-4">
          <mat-label>Emergency Contact Number</mat-label>
        </div>
        <div class="col-md-8 col-lg-8 form-controls">
          <mat-form-field appearance="outline" color="primary">
            <input
              matInput
              formControlName="emergencyContactNumber"
              placeholder="Contact Number"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row mm">
        <div class="col-md-4 col-lg-4">
          <mat-label>Relation</mat-label>
        </div>
        <div class="col-md-8 col-lg-8 form-controls">
          <mat-form-field appearance="outline" color="primary">
            <input matInput formControlName="Relation" placeholder="relation" />
          </mat-form-field>
        </div>
      </div>

      <div class="form-footer">
        <button
          class="btn btn-primary px-4 float-right profile-save-btn"
          (click)="onSubmit()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</form>
