a{
    display: flex;
    justify-content: space-between;
}
.navbar-brand{
    padding:10px 30px;
    box-shadow: -9px 0 20px #59667a1a;
}
.toggle-sidebar svg {
    width: 26px;
    height: auto;
}
.toggle-sidebar{
    position: absolute;
    top: 33px;
    right: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-img{
    height:50px;
    width:70px;
    background-size: cover;
}
// .sidebar-nav>li a {
//     display: block;
//     text-decoration: none;
//     color: #000;
//     font-weight: 500;
//     font-size: 14px;
//     letter-spacing: .7px;
//     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// }
.sidebar-icon {
    width: 60px;
    font-size: 20px;
    color: #66598f;
    font-size: 16px;
}